.contact-us {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-us h4 {
    font-size: 22px;
    color: #343a40;
    margin-bottom: 10px;
}

.contact-us h5 {
    font-size: 18px;
    color: #495057;
    margin-top: 20px;
}

.contact-us p {
    font-size: 16px;
    color: #495057;
    margin-bottom: 10px;
}