.welcome-section {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-section h2 {
    color: #B22222;
    font-size: 30px;
}

.welcome-section p {
    font-size: 20px;
    color: #333;
}

.delivery-image {
    width: 800px;
    margin: 20px;
    height: 500px;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #D2B48C;
}
